<table>
<thead>
      <tr><th>Add Bookmark</th></tr>
    </thead>
    <tbody>
      <tr>
      <td>
          <p>URL:</p>

        </td>
        <td>
          <input type="text" ng-model="newBookmark.bookmark"> </input>

        </td>
      </tr>

      <tr>
      <td>
          <p>Tags (comma separated)</p>

        </td>
        <td>
          <input type="text" ng-model="newBookmark.tags"> </input>

        </td>
      </tr>
      <tr>
        <td><input type="button" ng-click="saveBookmark();" value="Save Bookmark" />
        </td>
      </tr>
    </tbody>
</table>