<table>
<thead>
      <tr><th>Login</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>
        
          <p>Enter Email Id:</p>

        </td>
        <td>

          <input type="text" ng-model="login.email"> </input>

        </td>
      </tr>

      <tr>
      <td>
        
          <p>Enter Password:</p>

        </td>
        <td>
          <input type="text" ng-model="login.password"> </input>

        </td>
      </tr>
      <tr>
        <td><input type="button" ng-click="doLogin();" value="Login" />
        </td>
      </tr>
    </tbody>
</table>